@font-face {
    font-family: "Ananda";
    src: url("font/Ananda\ Black\ Personal\ Use.ttf");
    src: url("font/Ananda\ Personal\ Use.ttf");
}

@font-face {
    font-family: "Simple";
    src: url("font/Louis\ George\ Cafe\ Light.ttf");
}

* {
    color: white;
}

.nav {
    font-family: 'Roboto', sans-serif;
}

.pic {
    font-family: "Simple";
}

.bg {
    background: url("pictures/crocodile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
    transition: all 0.5s ease-in-out;
}

body.slidebg {
    background: url("pictures/aqua.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
    transition: all 0.5s ease-in-out;
}

body.slidebg2 {
    background: url("pictures/rest.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
    transition: all 0.5s ease-in-out;
}

.bgreview {
    background-color: #000;
}

.overbg {
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: .6;
}

main {
    height: 100vh;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

.nav {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.31);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo {
    display: flex;
    position: absolute;
    top: 5px;
    left: 50px;
}

.logo>span {
    position: absolute;
    left: 150px;
    top: 20px;
    font-size: 2rem;
    font-family: "Ananda";
    color: rgb(117, 197, 93);
}

.arrowleft {
    position: absolute;
    left: 20px;
    top: 40%;
}

.arrowright {
    position: absolute;
    top: 40%;
    right: 10px;
    transform: rotate(180deg);
}

ul {
    display: flex;
}

li,
a {
    font-size: 1.2rem;
    padding: 50px;
    list-style: none;
    text-decoration: none;
}

.center-content {
    height: 100%;
}

.title,
.title2,
.title3 {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    transition: all 2s ease-in-out;
}

.title>h1,
.title2>h1,
.title3>h1 {
    font-size: 3rem;
    text-align: center;
    font-family: 'Sarabun', sans-serif;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-family: system-ui;
    transition: all 2s ease-in-out;
}

.title>h2,
.title2>h2,
.title3>h2 {
    font-size: 3rem;
    text-align: center;
    color: rgb(117, 197, 93);
    font-family: "Ananda";
    transition: all 2s ease-in-out;
    animation: float 4s ease-in-out 0s infinite;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0px);
    }
}

.title2 {
    display: none;
    transition: all 2s ease-in-out;
}

.title3 {
    display: none;
    transition: all 2s ease-in-out;
}

.wrapper {
    height: 100vh;
}

.pic {
    bottom: 0;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 300px;
    margin-bottom: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.31);
}

strong {
    text-align: center;
    font-size: 1.8rem;
}

.pic>div {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
}

.pic>div>div>img {
    border-radius: 50%;
}

.pic>div>div>p {
    font-size: 1.2rem;
}


/* -------------------------------------------Media Screen---------------------------------------------------
------------------------------------------------------------------------------------------------------------ */

@media screen and (max-height: 850px) {
    strong {
        font-size: 1.2rem;
    }
    .pic>div>div>p {
        font-size: 1rem;
    }
}

@media screen and (max-height: 750px) {
    strong {
        font-size: 1rem;
    }
    .pic>div>div>p {
        font-size: 0.8rem;
    }
    .title>h1,
    .title2>h1,
    .title3>h1 {
        font-size: 2rem;
    }
    .title>h2,
    .title2>h2,
    .title3>h2 {
        font-size: 2rem;
    }
}